version: 2

jobs:
  ruby_2_5_0:
    docker:
      - image: circleci/ruby:2.5.0
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

    working_directory: ~/devise_materialize

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - rails-bundle-v1-{{ checksum "Gemfile" }}
            - rails-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: rails-bundle-v1-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # run tests!
      - run:
          name: Run Tests
          command: bundle exec rake test
          when: always

      # collect reports
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_test_results:
          path: test/reports

  ruby_2_4_3:
    docker:
      - image: circleci/ruby:2.4.3
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

    working_directory: ~/devise_materialize

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - rails-bundle-v1-{{ checksum "Gemfile" }}
            - rails-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: rails-bundle-v1-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # run tests!
      - run:
          name: Run Tests
          command: bundle exec rake test
          when: always

      # collect reports
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_test_results:
          path: test/reports

  ruby_2_3_6:
    docker:
      - image: circleci/ruby:2.3.6
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

    working_directory: ~/devise_materialize

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - rails-bundle-v1-{{ checksum "Gemfile" }}
            - rails-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: rails-bundle-v1-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # run tests!
      - run:
          name: Run Tests
          command: bundle exec rake test
          when: always

      # collect reports
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_test_results:
          path: test/reports

  ruby_2_2_9:
    docker:
      - image: circleci/ruby:2.2.9
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

    working_directory: ~/devise_materialize

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - rails-bundle-v1-{{ checksum "Gemfile" }}
            - rails-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: rails-bundle-v1-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # run tests!
      - run:
          name: Run Tests
          command: bundle exec rake test
          when: always

      # collect reports
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_test_results:
          path: test/reports

  test:
    docker:
      - image: circleci/ruby:2.5.0
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test

    working_directory: ~/devise_materialize

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - rails-bundle-v1-{{ checksum "Gemfile" }}
            - rails-bundle-v1-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: rails-bundle-v1-{{ checksum "Gemfile" }}
          paths:
            - vendor/bundle

      # run tests!
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Run Tests
          command: |
            ./cc-test-reporter before-build
            bundle exec rake test
            ./cc-test-reporter after-build
          when: always

      # collect reports
      - store_artifacts:
          path: coverage
          destination: coverage

      - store_test_results:
          path: test/reports

workflows:
  version: 2
  ruby-versions-and-test:
    jobs:
      - ruby_2_5_0
      - ruby_2_4_3
      - ruby_2_3_6
      - ruby_2_2_9
      - test:
          requires:
            - ruby_2_5_0
            - ruby_2_4_3
            - ruby_2_3_6
            - ruby_2_2_9
