!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv": "Content-Type" }/
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", rel: "stylesheet" }/
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js" }
    :scss
      .form {
        max-width: 650px;
        margin: auto;
      }

      .btn {
        margin-bottom: 20px;
        margin-top: 20px;
      }
  %body.blue-grey
    .row.form
      .col.s12
        .card.hoverable
          .card-content
            %span.card-title.center
              Hello
              = @resource.email
              !
            .divider
            .center
              %p
                Someone has requested a link to change your password. You can
                do this through the link below.
              = link_to 'Change my Password', class: 'btn waves-effect cyan',
                edit_password_url(@resource, reset_password_token: @token)
              %p If you didn't request this, please ignore this email.
              %p
                Your password won't change until you access the link above and
                create a new one.
