!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv": "Content-Type" }/
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", rel: "stylesheet" }/
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js" }
    :scss
      .form {
        max-width: 650px;
        margin: auto;
      }

      .btn {
        margin-bottom: 20px;
        margin-top: 20px;
      }
  %body.blue-grey
    .row.form
      .col.s12
        .card.hoverable
          .card-content
            %span.card-title.center
              Hello
              = @resource.email
              !
            .divider
            .center
              %p
                Your account has been locked due to an excessive number of
                unsuccessful sign in attempts.
              %p Click the link below to unlock your account:
              = link_to 'Unlock my Account', class: 'btn waves-effect cyan',
                unlock_url(@resource, unlock_token: @token)
